:host {

}

#subtext {
  display: grid;
  grid-template-rows: 55px 1fr;
  height: 100vh;
  width: 100vw;
}

#navbar {
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0 0 5px 0;
}
#navbar>span {
  font-size: 2em;
}

#appPlaceHolder {
  display: grid;
  grid-template-columns: 350px 1fr;
  max-height: 100vh;
}

#groupsPane {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 0 0;
  border-right: 1px solid grey;
}

#groupsPane > span {
  font-size: 2.3em;
  padding: 10px;
}

#groupsPane > a {
  text-decoration: none;
}

.group-card {
  padding: 10px;
  font-size: 1.5em;
  border: .1px solid grey;
}
.group-card:hover {
  background-color: lightgray;
}
.group-card.selected {
  background-color: cyan;
}

#messagesPane {
  display: grid;
  grid-template-rows: 1fr 150px;
  /*overflow: hidden;*/
  /*max-height: 80vh;*/
}

#messagesContainer {
  /*background-color: grey;*/
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 80vh;
  /*max-width: 50vw;*/
  overflow: scroll;
}
app-message {
  margin: 10px 0;
  /*align-self: flex-end;*/
}

.align-self-start {
  align-self: flex-start;
}
.align-self-end {
  align-self: flex-end;
}

#textInputsContainer {
  display: grid;
  grid-template-columns: 1fr 80px;
}
#textInputsContainer > button {
  background-color: lightblue;
  border: none;
  font-size: larger;
}

#textareas {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#textareas > textarea {
  resize: none;
  padding: 0;
  margin: 0;
}

#compiledTextMessage {
  /*background-color: lightgray;*/
}
