<div id="subtext">
  <div id="navbar">
    <span>Subtext</span>
    <span id="currentUserTag"> ~ {{userService.currentUser().name}}</span>
  </div>

  <div id="appPlaceHolder">
    <div id="groupsPane">
      <span>Groups</span>
      <a href="#"><div class="group-card" (click)="updateSelectedGroup('maths')" [ngClass]="{
          'selected': groupService.currentlySelected === 'maths'
        }"
      >Mathematics</div></a>

      <a href="#"><div class="group-card" (click)="updateSelectedGroup('physics')" [ngClass]="{
          'selected': groupService.currentlySelected === 'physics'
        }"
      >Physics</div></a>

      <a href="#"><div class="group-card" (click)="updateSelectedGroup('cs')" [ngClass]="{
          'selected': groupService.currentlySelected === 'cs'
        }"
      >Computer Science</div></a>
    </div>

    <div id="messagesPane">
      <div id="messagesContainer">
        <app-message *ngFor="let message of chatService.getMessagesFor(groupService.currentlySelected)"
                     [sender]="message.sender" [timestamp]="message.timestamp"
                     [ngStyle]="{'align-self': message.sender === userService.currentUser().name ? 'flex-end' : 'flex-start'}">
          <span *ngIf="message.messageType === 0" [innerHTML]="message.innerHtml"></span>
          <ng-katex-paragraph *ngIf="message.messageType === 1" [paragraph]="message.utfContent"></ng-katex-paragraph>
        </app-message>
        <span *ngIf="chatService.getMessagesFor(groupService.currentlySelected).length === 0" style="align-self: center">No Conversations here yet</span>
      </div>
      <div id="textInputsContainer">
        <div id="textareas">
          <textarea placeholder="Enter Message Here" [(ngModel)]="message"></textarea>
          <div id="compiledTextMessage">
            <span *ngIf="isMarkdownMessage()" [innerHTML]="getMarkdownMessage()"></span>
            <ng-katex-paragraph *ngIf="isLatexMessage()" [paragraph]="message"></ng-katex-paragraph>
          </div>
        </div>
        <button (click)="sendMessage()">SEND</button>
      </div>
    </div>
  </div>
</div>
