<div id="subtext">
  <div id="navbar">
    <span>Subtext</span>
  </div>

  <div id="appPlaceHolder">
    <div id="groupsPane">
      <span>Groups</span>
      <a href="#"><div class="group-card" (click)="updateSelectedGroup('maths')" [ngClass]="{
          'selected': groupService.currentlySelected === 'maths'
        }"
      >Mathematics</div></a>

      <a href="#"><div class="group-card" (click)="updateSelectedGroup('physics')" [ngClass]="{
          'selected': groupService.currentlySelected === 'physics'
        }"
      >Physics</div></a>

      <a href="#"><div class="group-card" (click)="updateSelectedGroup('cs')" [ngClass]="{
          'selected': groupService.currentlySelected === 'cs'
        }"
      >Computer Science</div></a>
    </div>

    <div id="messagesPane">
      <div id="messagesContainer">
        <app-message *ngFor="let message of chatService.getMessagesFor(groupService.currentlySelected)"
                     [sender]="message.sender" [timestamp]="message.timestamp">
          <span *ngIf="message.messageType === 0" [innerHTML]="message.innerHtml"></span>
        </app-message>
      </div>
      <div id="textInputsContainer">
        <div id="textareas">
          <textarea placeholder="Enter Message Here"></textarea>
          <div id="compiledTextMessage"><span></span></div>
        </div>
        <button>SEND</button>
      </div>
    </div>
  </div>
</div>
