:host {
  /*width: 200px;*/
}

#messageBox {
  background-color: lightcyan;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}
#messageBox > #sender {
  font-size: 1.4em;
  text-transform: lowercase;
}
#messageBox > #timestamp {
  font-size: .6em;
  margin-bottom: 10px;
}
